body {
  font-family: Arial;
  padding: 20px;
  background: #f5f5f5;
}

.card {
  background: #fff;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 6px;
}

.product-box {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.color-box {
  margin-left: 15px;
  margin-top: 5px;
}
.table-wrap{
  margin-top:20px;
  overflow:auto;
  max-height:60vh;
}

table{
  width:100%;
  border-collapse:collapse;
  font-size:13px;
}

th,td{
  border:1px solid #ddd;
  padding:6px;
}

th{
  background:#f4f4f4;
  position:sticky;
  top:0;
}

td{
  background:#fff;
}

td[contenteditable="true"]{
  background:#fffef0;
}

progress{
  width:100%;
  height:18px;
  margin:10px 0;
}
